git+https://github.com/Pycord-Development/pycord
youtube-dl
PyNaCl
asyncpraw
Flask
lyrics_extractor
wikipedia
google-api-python-client
youtube-search-python
psycopg2-binary
pillow
qrcode
imgurpython
python-dotenv
wheel